<%- include("adminlayout/header") %>


    <div class="container">
      <div class="center">
          <h1>Register</h1>
          <form method="POST" action="/admin">
              <div class="txt_field">
                  <input type="text" name="name">
                  <span></span>
                  <label>Username</label>
              </div>
              <div class="txt_field">
                  <input type="email" name="email">
                  <span></span>
                  <label>Email</label>
              </div>
              <div class="txt_field">
                  <input type="password" name="password" >
                  <span></span>
                  <label>Password</label>
              </div>
              <input name="submit" type="Submit" value="register">
             
          </form>
      </div>
  </div>









