<%- include("layout/header") %>


<!-- <%- include("layout/header") %> -->
<style>
    h1{

      text-align: center;  
    }
    p {
        text-align:justify;
        border:1px solid black;
        width : auto;
        height: 500px;
        margin: 100px 350px 100px 350px;
        

        


    }
    </style>

<h1>
    <%= data.title %>
</h1>
<p>
    <%= data.body %>
</p>