<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>
        
    </title>
</head>

<body>
<div class="navbar">
    <header class="header">
        <h1 class="logo"><a href="#"> Blog website</a></h1>
      <ul class="main-nav">
        
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li> <button class ="srchbut"><input type="text" placeholder="Search.." name="search2">
            Search</button></li>
      </ul>

    </header>
</div>