<div class= "fromsearch">
    <form action="/searchform" method="post" class="serchfrom">
        <button class ="srchbut"><input type="text" placeholder="Search.." name="search2">
            Search</button>
    </form>

</div>